#################################################
###  General  ###################################
#################################################

.DS_Store
.env
config/opendkim/
docker-data/

#################################################
###  IDEs  ######################################
#################################################

.idea
.vscode

